footer
	.row
		.col-md-12
			.footer
				.container
					.clearfix
						.row(style="color:#fff; padding: 0 20px;")
							.col-md-4
								a(href='/')
									img(src='/public/img/footer-logo.png')
							.col-md-4

						.row(style="color:#fff; padding: 0 20px;")
							p 
								i.fa.fa-building(aria-hidden='true')
								|	Seoul Office(HQ): 201-304, 28, Gangnam-daero 146-gil, Gangnam-gu, Seoul, Republic of Korea
							p
								i.fa.fa-building-o(aria-hidden='true')
								|	Bangladesh Office: House 07(4th Floor), Road 11, Sector 11, Uttara Model Town, Dhaka, Bangladesh
							p Copyright © 2016 Gomaun Company. All rights reserved.

							p
								a(href='//facebook.com/321406731562427/', target='_blank', style="color:#fff;")
									i.fa.fa-facebook-official(aria-hidden='true')
									| 		facebook &nbsp;&nbsp;&nbsp;
								a(href='//instagram.com/gomaun_company/', target='_blank', style="color:#fff;")
									i.fa.fa-instagram(aria-hidden='true')
									| 		instagram &nbsp;&nbsp;&nbsp;
								a(href='mailto:gomaunkr@gmail.com', style="color:#fff;")
									i.fa.fa-envelope(aria-hidden='true')
									| 		e-mail &nbsp;&nbsp;&nbsp;

// Bootstrap
script(src='https://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')

// Bootflat's JS files.
script(src='/public/js/icheck.min.js')
script(src='/public/js/jquery.fs.selecter.min.js')
script(src='/public/js/jquery.fs.stepper.min.js')
script(src='/public/js/site.js')

//google analytics

