footer
    h3 footer

// Bootstrap
script(src='https://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')

// Bootflat's JS files.
script(src='/public/js/icheck.min.js')
script(src='/public/js/jquery.fs.selecter.min.js')
script(src='/public/js/jquery.fs.stepper.min.js')

//google analytics

