footer
	.row
		.col-md-12
			.footer
				.container
					.clearfix
						.footer-logo
							a(href='/')
								img(src='/public/img/footer-logo.png')
						dl.footer-nav
							dt.nav-title SITEMAP
							dd.nav-item
								a(href='#about') About
							dd.nav-item
								a(href='#services') Services
							dd.nav-item
								a(href='#works') Works
							dd.nav-item
								a(href='#news') News
						dl.footer-nav
							dt.nav-title CONTACT
							dd.nav-item
								a(href='//facebook.com/')
									i.fa.fa-facebook-official(aria-hidden='true')
									| 		facebook
							dd.nav-item
								a(href='//instagram.com/')
									i.fa.fa-instagram(aria-hidden='true')
									| 		instagram
							dd.nav-item
								a(href='mailto:gomaunkr@gmail.com')
									i.fa.fa-envelope(aria-hidden='true')
									| 		e-mail
						dl.footer-nav
							dt.nav-title ABOUT
							dd.nav-item
								a(href='#') 고마운컴퍼니
							dd.nav-item
								a(href='#') Email: gomaunkr@gmail.com

					.footer-copyright.text-center Copyright © 2016 Gomaun Company. All rights reserved.

// Bootstrap
script(src='https://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')

// Bootflat's JS files.
script(src='/public/js/icheck.min.js')
script(src='/public/js/jquery.fs.selecter.min.js')
script(src='/public/js/jquery.fs.stepper.min.js')
script(src='/public/js/site.js')

//google analytics

