footer
	.row
		.col-md-12
			.footer
				.container
					.clearfix
						.footer-logo
							a(href='/')
								img(src='/public/img/footer-logo.png')
						dl.footer-nav
							dt.nav-title SITEMAP
							dd.nav-item
								a(href='#whatwedo') What We Do
							dd.nav-item
								a(href='#whywerehere') Why We're Here
							dd.nav-item
								a(href='#services') Services
						dl.footer-nav
							dt.nav-title CONTACT
							dd.nav-item
								a(href='//facebook.com/321406731562427/', target='_blank')
									i.fa.fa-facebook-official(aria-hidden='true')
									| 		facebook
							dd.nav-item
								a(href='//instagram.com/gomaun_company/', target='_blank')
									i.fa.fa-instagram(aria-hidden='true')
									| 		instagram
							dd.nav-item
								a(href='mailto:gomaunkr@gmail.com')
									i.fa.fa-envelope(aria-hidden='true')
									| 		e-mail
						dl.footer-nav
							dt.nav-title ABOUT
							dd.nav-item
								a(href='/') Gomaun Company
							dd.nav-item
								a(href='#') Gomaun People
							dd.nav-item
								a(href='#') Gomaun Shop
					
					.footer-address.text-center
						i.fa.fa-building(aria-hidden='true')
						|	Seoul Office(HQ): 201-304, 28, Gangnam-daero 146-gil, Gangnam-gu, Seoul, Republic of Korea
					.footer-address.text-center
						i.fa.fa-building-o(aria-hidden='true')
						|	Bangladesh Office: House 07(4th Floor), Road 11, Sector 11, Uttara Model Town, Dhaka, Bangladesh
					.footer-copyright.text-center Copyright © 2016 Gomaun Company. All rights reserved.

// Bootstrap
script(src='https://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')

// Bootflat's JS files.
script(src='/public/js/icheck.min.js')
script(src='/public/js/jquery.fs.selecter.min.js')
script(src='/public/js/jquery.fs.stepper.min.js')
script(src='/public/js/site.js')

//google analytics

