header
	nav.navbar.navbar-default.navbar-custom.navbar-custom-fixed(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')
					img.navbar-brand(src='/public/img/logo_light.png', height='40px')
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right(style="font-size: 17px; font-family: 'Teko', Helvetica Neue, Arial;")
					li.collapse.navbar-collapse
						a.nav-link(href='/') 고마운컴퍼니
					li.collapse.navbar-collapse
						a.nav-link(href='/post') 고마운사람들
					li.dropdown.collapse.navbar-collapse
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							| Contact
							b.caret
						ul.dropdown-menu(role='menu')
							li.dropdown-header Contact us via
							li
								a(href='//facebook.com/321406731562427/', target='_blank')
									i.fa.fa-facebook-official(aria-hidden='true')
									| 		facebook
							li
								a(href='//instagram.com/gomaun_company/', target='_blank')
									i.fa.fa-instagram(aria-hidden='true')
									| 		instagram
							li
								a(href='mailto:gomaunkr@gmail.com')
									i.fa.fa-envelope(aria-hidden='true')
									| 		e-mail
