head
    title 고마운컴퍼니:Gomaun Company

    //meta tags
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='public/css/bootflat.css')
    link(rel='stylesheet', href='public/css/style.css')

