extends ./detail

block articledetail
	.col-lg-8.col-md-12
		.col-md-12(style="padding: 0 0;")
			ol.breadcrumb(style="background:transparent;")
				li
					a(href="/") Home
				li
					a(href="/post") Post
				li.active
					| 알뜰하게 결혼하기	
					i.fa.fa-heart(style='font-size:0.8em;')
					| 	비어스웨딩

		.col-md-12
			.alert.alert-info
				button.close(type='button', data-dismiss='alert', aria-hidden='true') x
				h4 스토어팜에서 셀프웨딩을 시작해보세요!
				p 
				p 
					a.btn.btn-primary(href='//storefarm.naver.com/beuswedding?utm_source=gomaun-web&utm_campaign=beus-wedding&utm_medium=post&utm_term=btnclick_top', target='_blank') 비어스웨딩 쇼핑몰 바로가기

		article.justify-hangul
			header.margin-bottom
				h2.text-center
					| 알뜰하게 결혼하기	
					i.fa.fa-heart(style='font-size:0.8em;')
					| 	비어스웨딩
				p.text-right.article-meta
					|	2017.3.12 by gomaun,
					|	category: interview, wedding, socialventure
					|	tags: #비어스웨딩 #인터뷰 #소셜벤처
			hr

			img(src='/public/img/ci/ci-beus-wedding.png', alt='비어스웨딩 CI', width='65%', style='display:block; margin: auto;')

			h3.margin-top.margin-bottom 소셜벤쳐 비어스웨딩에 대해 소개해주세요
			p 안녕하세요, 비어스웨딩은 결혼식 비용 및 정보의 장벽을 없애자는 미션을 가지고있는 소셜벤쳐로, 결혼식의 전반적인 디렉팅 및 데코레이터, 드레스 등의 상품을 저렴한 가격에 대여하고 있습니다.

			.row
				.col-md-6.margin-top.margin-bottom
					img(src='/public/img/beus/beus-1.jpg', alt='비어스웨딩 대표', width='100%' style='margin:auto;')
				.col-md-6.margin-top.margin-bottom
					img(src='/public/img/beus/beus-2.jpg', alt='웨딩드레스와 턱시도', width='69%', style='display:block; margin: auto;')

			h3.margin-top.margin-bottom 스몰웨딩 사업을 하신 계기는 무엇인가요?
			p 어려서부터 사회적기업에 관심이 많아서 대학교 1학년때부터 사회적기업 스터디나 동아리 활동을 했었어요. 그 중 다문화아동들에게 독서지도를 하는 봉사활동이 있었는데요, 책 속에 결혼식 얘기가 나오면 간혹 아이들이 집안 이야기를 하는 것을 들을 수 있었어요. ‘우리 엄마 아빠는 결혼 사진이 없다.’, “결혼 얘기만 나오면 부모님이 싸우신다.” 등의 이야기를 하는 아이들도 있었고, 부모님이 이혼하셨다며 울거나 학교를 나오지 않는 아이들도 있었습니다. 

			p.margin-bottom 이 때 저는 다문화 가정의 가정 문제에 처음 관심을 갖게 되었습니다. 여러 가정 문제에 대한 공통 점을 찾다보니, 결혼식을 못올리신 가정이 많았습니다. 왜 그럴까 리서치를 해보니 국내 결혼식 비용이 너무 비싸다보니 저소득층 및 소외계층의 분들은 비용을 부담하기 어려워서 결혼식을 포기하는 경우가 발생한다는 것을 알 수 있었어요. 단 하루 진행되는 결혼식이지만, 식을 올리지 못한 한이 남아 응어리가 생기고 가정 문제에도 영향을 끼친다는 것을 알 수 있었습니다. 이 때부터 저는 누구나 올릴 수 있는 저렴한 결혼식을 만들어주고 싶다고 생각하게 되었습니다.

			img(src='/public/img/beus/beus-3.jpg', alt='비어스웨딩', width='100%', style='display:block; margin: auto;')

			h3.margin-top.margin-bottom 비어스웨딩만의 경쟁력은 무엇인가요?
			p 비어스웨딩은 가격경쟁력을 내세워 저렴한 비용을 강조하고있지 않습니다. 국내 최저가에 가깝긴 하지만, 가격을 내세우기보다 가격대비 좋은 상품을 강조하고 있습니다.
			p 최근 스몰웨딩 셀프 웨딩들이 떠오르면서 관련 업체들이 몇군데 있으나 개개인에 맞춰 커스터마이징하기 때문에 가격대가 몇천만원 규모로 너무 비싸고 시간도 많이 소요됩니다. 비어스웨딩은 가격도 저렴하고 개개인에 맞춰 커스터마이징도 할 수 있다는게 큰 경쟁력입니다. 비어스웨딩의 상품 및 서비스를 선택하여 자신만의 결혼식을 만드는 DIY Kit 결혼식이죠.

			h3.margin-top.margin-bottom 
				| 비어스웨딩에서는 소외계층을 위한 무료결혼식 지원 사업인 
				br
				| ‘꿈의 결혼식'을 진행하고 있는데요, 가장 기억에 남는 사례는 무엇인가요?
			p 가장 기억에 남는 사연은 베트남 여성과 한국인 남성의 결혼식이었습니다. 신부님(?)은 한국에 온지 5년 정도 되셨는데요, 그 동안 친정부모님을 한 번도 뵌적이 없다고 하셨습니다. 경제적인 이유도 있었지만, 특별한 이유없이 부모님을 모시는게 시부모님께 눈치 보였기 때문이라고 하셨습니다. 사연의 주인공분들과 결혼식을 진행하기로 하는 계약과 동시에 부모님 초청 비자를 발급해드렸고, 이를 통해 부모님을 만날 수 있는 빌미가 생겨서 5년만에 부모님을 만나게 되었습니다. 모두 다 눈물흘리며 정말 감동적인 결혼식이었어요.

			.jumbotron
				#carousel-generic.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li.active(data-target='#carousel-generic', data-slide-to='0')
						li(data-target='#carousel-generic', data-slide-to='1')
						li(data-target='#carousel-generic', data-slide-to='2')
						li(data-target='#carousel-generic', data-slide-to='3')
						li(data-target='#carousel-generic', data-slide-to='4')
					.carousel-inner.article-slide-img
						.item.active
							img(src='/public/img/beus/beus-slide-1.jpg', alt='carousel image')
						.item
							img(src='/public/img/beus/beus-slide-2.jpg', alt='carousel image')
						.item
							img(src='/public/img/beus/beus-slide-3.png', alt='carousel image')
						.item
							img(src='/public/img/beus/beus-slide-4.jpg', alt='carousel image')
						.item
							img(src='/public/img/beus/beus-slide-5.jpg', alt='carousel image')
					a.left.carousel-control(href='#carousel-generic', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#carousel-generic', data-slide='next')
						span.glyphicon.glyphicon-chevron-right

			h3.margin-top.margin-bottom 마지막으로 비어스웨딩의 향후 목표는 무엇인가요?
			p 현재 진행하고있는 사업은 직접 찾아뵙고 컨설팅 및 전반적인 디렉팅을 해드리기 때문에 더 많은 분들께 전달하고 싶지만 인력의 한계를 가지고 있습니다. 이러한 문제를 해결하기 위해 온라인으로 상품을 대여하고 상담을 진행할 수 있도록 온라인 마켓으로의 확장을 고민하고 있습니다. 온라인으로의 확장을 통해 보다 많은 분들께 행복한 결혼식을 만들어드리고 싶습니다.


			

		.row.margin-top.margin-bottom
			.col-md-12
				img(src='/public/img/ci/ci-beus-wedding-long.png', alt='비어스웨딩 CI', width='70%', style='display:block; margin: auto;')
			.col-md-12.pricing(align='center')
				ul

					li.unit.price-primary
						.price-title
							h3 비어스웨딩
						.price-body
							h5 홈페이지
							p
							| 비어스웨딩에 대해
							br
							| 더 자세한 정보를 알아보세요!
						.price-foot
							a(href='//beuswedding.com/?utm_source=gomaun-web&utm_campaign=beus-wedding&utm_medium=post&utm_term=btnclick_bot', target='_blank')
								button.btn.btn-primary(type='button') 보러가기
					li.unit.price-success
						.price-title
							h3 스토어팜
						.price-body
							h5 쇼핑몰
							p 
							| 스토어팜에서
							br
							| 셀프웨딩을 준비해보세요! 
						.price-foot
							a(href='//storefarm.naver.com/beuswedding?utm_source=gomaun-web&utm_campaign=beus-wedding&utm_medium=post&utm_term=btnclick_bot', target='_blank')
								button.btn.btn-success(type='button') 보러가기

		.col-md-12.margin-top
			ul.pager
				li.previous
					a(href='/post/introduce-hanbit') Previous
				li.next.disabled
					a(href='#') Next