extends ./detail

block content
	.col-md-9.col-md-pull-3
		.col-md-12(style="padding: 0 0;")
			ol.breadcrumb(style="background:transparent;")
				li
					a(href="/") Home
				li
					a(href="/post") Post
				li.active 고마운컴퍼니를 소개합니다.

		article
			header
				h2.text-center 고마운컴퍼니를 소개합니다.
				p.text-right.article-meta
					|	2016.12.26 by gomaun,
					|	category: introduce, gomaun-company
					|	tags: #고마운컴퍼니 #소개글
				hr

			p 안녕하세요. 저희는 사회적 가치가 담긴 
				|	
				strong 고마운기업*
				|	들의 서비스와 상품을 인터뷰 형식으로 소개하고, 판매하는 소셜벤처입니다.
				br
				small
					strong *고마운기업
					|	: 소셜 벤처, (예비)사회적기업, 취약계층 지원 사업을 진행 중인 NGO 등 

			.head-quote.text-center
				h3 “사회적 기업, 이미지는 좋은데 접할 기회가 적어"
				small (2015.01.22, 
					a(href='http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002074884') 오마이뉴스
					|	)

			p.margin-top 최근 보도된 기사에 따르면, 소비자는 주로 신문과 뉴스 등의 언론매체를 통해 사회적기업을 인지하게 됩니다. 반면, 기업이 자체로 진행하는 홍보채널을 통한 인지경로는 8%로 매우 낮았습니다. 사회적기업의 제품 및 서비스를 구입/경험해 본 적이 있는 사람은 48%에 그친 반면, 실제 구입해본 경험자의 87%는 만족스러웠다고 답했습니다.


			p 마케팅 노하우가 부족한 상황에서 사회적기업이 택할 수 있는 홍보채널은 매우 제한적일 수 밖에 없습니다. 사회적기업의 상품과 서비스에 대한 만족도가 매우 높음에도 인지에서부터 구매까지 이어지지 않는 문제를 안고 있습니다.

			img.margin-top.margin-bottom(src='//placehold.it/700x300' width='100%')

			p 소비자의 사회적기업 인지 경로는 주로 신문기사, 뉴스 등이 주를 이루었으며 해당 기업의 자체 홍보 채널을 통해 인지한 비율은 매우 낮고, 설립 취지는 알겠으나 홍보와 인식 확대를 위한 노력이 부족하다는 의견들이 주를 이루었습니다. 
				br
				|	또한 사회적 기업의 제품 또는 서비스를 구입/경험해 본 적이 있는 사람은 48%에 그쳤으나, 구입 경험자들의 87%는 만족스러웠다고 답했습니다. (2016.11.18,
				a(href='http://www.fnnews.com/news/201611180841569301')
					|	파이낸셜 뉴스)

			p 이러한 조사 결과를 종합해볼 때, 사회적기업들은 고객이 만족스러워 할 제품 및 서비스를 갖추고 있지만, 홍보 및 판로 개척 부재로 고객과의 접점을 확대하지 못하는 문제를 갖고있습니다.
	 
			p 고마운컴퍼니는 이러한 문제를 해결하기 위해, 고마운 기업들을 인터뷰 형식의 콘텐츠로 소개하는 ‘고마운 사람들’과 온라인 채널을 통해 상품/서비스를 판매하는 ‘고마운 가게’ 서비스를 유기적으로 연동하여 홍보 및 상품 노출, 구매까지 연결될 수 있는 서비스를 제공할 예정입니다. 
			p 이를 통해 홍보 및 판로개척의 문제를 해결하여 소비자와의 접점을 넓히고 고마운기업의 인지도 재고 및 수익구조를 개선함으로써 그들이 추구하는 가치에 지속 투자 할 수 있는 선순환구조를 만드는 것을 목표로 하고 있습니다.

			img.margin-top.margin-bottom(src='//placehold.it/700x200' width='100%')

			h3.text-center What We Do

			h4.margin-top 우리는 고마운 사람들을 찾고, 그들과 함께 이야기 합니다.
			p 고마운기업이란 우리 사회의 문제를 주시하고, 이를 해결하기 위해 힘쓰는 (예비) 사회적기업, 소셜벤처를 일컫는 말입니다. 우리는 사람들에게 잘 알려지지 않은 고마운 기업을 찾고, 그들과 함께 이야기 합니다.

			h4.margin-top 더 좋은 방법으로, 더 많은 사람들에게 알립니다.

			p 고마운기업과의 이야기는 그들의 가치를 담은 스토리로 재탄생하게 됩니다. 그리고 SNS 마케팅, SEO(검색 최적화) 등 고마운 컴퍼니가 가진 마케팅 노하우를 바탕으로 더 많은 사람들과 공유합니다.

			h4.margin-top 상품 및 서비스를 더욱 매력적으로 만듭니다.

			p 고마운기업들이 가진 가치를 재발견하고, 이를 더 부각시킬 수 있는 방법을 모색합니다. 사회적기업이라는 선입견을 깨고, 누구라도 꼭 사고싶은 상품 및 서비스로 만들기 위해 노력합니다.

			h4.margin-top 고마운 마켓 플랫폼을 만들어 갑니다.

			p 고마운컴퍼니는 고마운기업의 가치를 사고 팔 수 있는 새로운 마켓 플랫폼을 만들어갑니다. 고마운 기업의 스토리를 통해 이들을 알아가고, 그 속에서 자연스럽게 상품 및 서비스 구매와 판매가 연결되는 만남의 장소가 될 것입니다.

			p.margin-top 사회적기업가를 양성하는 아쇼가 재단의 설립자 빌 드레이튼은 “사회적기업가는 변화를 창조하는 사람”이라고 말했습니다. 저희는 그들의 열정과 노력이 더욱 빛을 발휘하도록 돕는 조력자 역할을 하겠습니다. 여러분들의 많은 응원과 도움 부탁드립니다. 
			p 감사합니다.

			.col-lg-4.visible-lg
				img.margin-top.margin-bottom(src='//placehold.it/700x400' width='100%')
			.col-lg-4.visible-lg
				img.margin-top.margin-bottom(src='//placehold.it/700x400' width='100%')
			.col-lg-4.visible-lg
				img.margin-top.margin-bottom(src='//placehold.it/700x400' width='100%')
			.col-md-12
				ul.pager
					li.previous.disabled
						a(href='#') Previous
					li.next.disabled
						a(href='#') Next