extends ./detail

block content
	.col-md-9.col-md-pull-3
		.col-md-12(style="padding: 0 0;")
			ol.breadcrumb(style="background:transparent;")
				li
					a(href="/") Home
				li
					a(href="/post") Post
				li.active 고마운컴퍼니를 소개합니다.

		article
			header.margin-bottom
				h2.text-center 고마운컴퍼니를 소개합니다.
				p.text-right.article-meta
					|	2017.1.1 by gomaun,
					|	category: introduce, gomaun-company
					|	tags: #고마운컴퍼니 #소개
				hr
			img(src='/public/img/img_thank.jpg', width='100%')
			h4.margin-top 간단한 소개와 함께 사업을 하게 된 계기를 알려주세요
			p 안녕하세요. 저희는 사회적 가치가 담긴 
				|	
				strong 고마운기업*
				|	들의 서비스와 상품을 인터뷰 형식으로 소개하고, 판매하는 소셜벤처입니다.
				br
				|	현재 우리나라에 3,000개 이상의 고마운기업*들이 있다는 사실을 알고 계시나요? 저희는 홍보 부족 및 판로의 문제로 소비자와의 접점이 부족한 고마운 기업들의 스토리를 여러분들과 함께 공유하고자 소셜벤처를 시작하게 되었습니다.
				br
				small
					strong *고마운기업
					|	: 소셜 벤처, (예비)사회적기업, 취약계층 지원 사업을 진행 중인 NGO 등 
			h4.margin-top 어떤 서비스를 제공하게 되나요?
			h5.margin-top 고마운사람들 - 고마운 사람들을 찾고, 그들과 함께 이야기 합니다.
			p 고마운기업이란 우리 사회의 문제를 주시하고, 이를 해결하기 위해 힘쓰는 (예비) 사회적기업, 소셜벤처를 일컫는 말입니다. 우리는 사람들에게 잘 알려지지 않은 고마운 기업을 찾고, 그들과 함께 이야기 합니다.

			h5.margin-top 고마운가게 - 고마운 마켓 플랫폼을 만들어 갑니다.
			p 고마운기업의 가치를 사고 팔 수 있는 새로운 마켓 플랫폼을 만들어갑니다. 고마운 기업의 스토리를 통해 이들을 알아가고, 그 속에서 자연스럽게 상품 및 서비스 구매와 판매가 연결되는 만남의 장소가 될 것입니다.

			img(src='/public/img/post_gomaun_1.png' width='100%')

			h4.margin-top 실질적으로 어떤 도움을 주나요?
			h5.margin-top 더 좋은 방법으로, 더 많은 사람들에게 알립니다
			p 고마운기업과의 이야기는 그들의 가치를 담은 스토리로 재탄생하게 됩니다. 그리고 SNS 마케팅, SEO(검색 최적화) 등 고마운 컴퍼니가 가진 마케팅 노하우를 바탕으로 더 많은 사람들과 공유합니다.

			h5.margin-top 상품 및 서비스를 더욱 매력적으로 만듭니다
			p 고마운기업들이 가진 가치를 재발견하고, 이를 더 부각시킬 수 있는 방법을 모색합니다. 사회적기업이라는 선입견을 깨고, 누구라도 꼭 사고싶은 상품 및 서비스로 만들기 위해 노력합니다.

			
			.row
				.col-md-3
					img.margin-top.margin-bottom(src='/public/img/uncle_gomaun.png' width='100%')

				.col-md-9.article-text
					h4.margin-top 앞으로의 계획은 어떻게 되나요?

					p ‘14년 2월 발표된 국회입법조사처의 보고서에 따르면 정부보조금이 종료된 이후 생존하는 사회적 기업은 15%에 불과하다고 합니다. 저희가 가장 고민하고 대비하고 있는 부분은 정부의 지원없이 스스로 자생 가능한(Sustainable)  비즈니스 모델을 구축하여 사업을 운영해 나가는 것입니다. 이를 위해 다양한 노력과 시도를 할 예정입니다. 지켜봐 주시기 바랍니다.

					h4.margin-top 그 밖에 하고싶은 말이 있다면 말씀해주세요

					p 저희의 고마운아저씨 캐릭터를 소개시켜드리고 싶습니다. 이름은 고마운이고 나이는 비밀입니다. 취미는 봉사활동입니다. 고마운아저씨와 함께 앞으로 고마운컴퍼니의 활동을 지켜봐주세요~

				.col-md-12
					h3 고마운컴퍼니의 크라우드펀딩을 통해 고마운아저씨에게 큰 힘이 되어주세요!

					h4.text-center 고마운컴퍼니의 크라우드펀딩이 곧 공개됩니다!

					//
						button.btn.btn-primary(type='button', onclick="location.href='#'", style='font-size:2.0rem;') 크라우드펀딩 보러가기

			.col-md-12
				ul.pager
					li.previous.disabled
						a(href='#') Previous
					li.next.disabled
						a(href='#') Next