extends ../layout

block content
	.jumbotron.bgBlur
		.jumbotron-photo.jumbotron-hero-semi
			.container
				.row
					.col-md-12.col-md-offset-1
						h1(style="font-size: 56px; font-weight:600; color: #ffffff; margin-top: 10vh;") 고마운사람들

	section#list
		.container.margin-bottom-large
			.row
				h2.text-center list
				ul
					li 
						a(href='/post/sample') 고마운기업1
					li 고마운기업2

