extends ../layout

block content
	.docs-header.docs-header-list
		.topic
			.container
				.col-md-4.col-md-offset-4.text-center
					h1(style='font-weight:600;') 
						|	고마운 사람들

	section#list
		.container.margin-bottom-large
			.row
				h2.text-center Post list
			.row
				.col-md-6
					a(href='/post/introduce-gomaun')
						img.img-rounded(src='//placehold.it/640x480' width='100%')
						.caption.text-center
							h4 고마운컴퍼니를 소개합니다.
							
				.col-md-6
					a(href='/post/introduce-hanbit')
						img.img-rounded(src='//placehold.it/640x480' width='100%')
						.caption.text-center
							h4 한빛ngo를 소개합니다.