extends ../layout

block content
	.jumbotron.bgBlur(style='margin-bottom:0;')
		.jumbotron-photo.jumbotron-hero-semi
			.container
				.row
					.col-md-12.col-md-offset-1
						h1(style="font-size: 56px; font-weight:600; color: #ffffff; margin-top: 10vh;") 고마운기업 1

	section#article
		.container.followZindex


		.followMeBar
			.container
				.row
					.col-xs-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')

					.col-xs-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')

					.col-xs-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')

					.col-xs-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')


		.container.margin-bottom-large.followZindex
			.row
				.col-md-9.col-md-offset-3
					img.margin-top-large.margin-bottom-large(src='//placehold.it/700x400' width='100%')
			.row
				.col-md-3
					h3.margin-top-large Post list
					ul
						li item1
						li item2
						li item3
				.col-md-9
					h1.text-center Cras mattis consectetur

					p 같지 이상의 목숨을 발휘하기 새가 그것을 역사를 열락의 쓸쓸하랴? 소담스러운 가는 인간에 하여도 봄바람이다. 인간의 힘차게 사람은 끓는다. 인간의 넣는 군영과 청춘은 만물은 노년에게서 인생에 이것이다. 청춘을 따뜻한 무한한 가장 모래뿐일 주는 이것은 교향악이다. 주는 그들의 이 보라. 있는 시들어 이것을 산야에 방황하여도, 봄바람이다. 싶이 청춘의 열락의 없으면 우리의 사막이다. 온갖 몸이 반짝이는 봄바람을 품고 때에, 찬미를 속에서 사막이다. 그들은 그들의 창공에 위하여 뭇 있으랴?

					p 꽃이 남는 인간에 석가는 부패뿐이다. 내는 돋고, 못할 별과 듣기만 것이다. 그들의 군영과 철환하였는가 바이며, 생의 가지에 것이다. 이 커다란 아니한 그림자는 바이며, 속에서 이 우리 이것이다. 품에 크고 없으면 청춘의 있는 것이다. 튼튼하며, 피어나기 바이며, 황금시대의 보라. 튼튼하며, 얼음과 타오르고 가는 유소년에게서 길지 인간의 자신과 힘있다. 남는 있는 동산에는 아니더면, 귀는 미인을 인류의 창공에 뿐이다. 굳세게 별과 할지니, 남는 그들의 같지 봄날의 생생하며, 있는가? 어디 곳이 든 커다란 가치를 봄바람을 노래하며 아니다. 용감하고 방지하는 광야에서 때문이다. 얼음 방지하는 가는 영원히 것이다.

					p 인생을 그것을 따뜻한 무엇을 꾸며 사랑의 얼마나 듣기만 봄바람이다. 미인을 위하여, 있음으로써 따뜻한 예수는 있을 쓸쓸하랴? 뼈 우리의 얼마나 인도하겠다는 아름다우냐? 든 이는 천자만홍이 인생에 붙잡아 노년에게서 원대하고, 뼈 것이다. 끓는 몸이 방황하였으며, 눈이 있다. 시들어 힘차게 얼마나 얼음이 이상의 날카로우나 황금시대다. 인생에 동력은 풀이 얼마나 것이다. 인간에 피가 것이 오직 이것이다. 광야에서 청춘 뜨고, 이상은 것이다. 실로 이상을 위하여 것이 충분히 살 열매를 거선의 끓는다. 사는가 착목한는 위하여 인생을 뜨고, 구하지 무엇을 있으랴?

					img.margin-top-large.margin-bottom-large(src='//placehold.it/700x400' width='100%')

					p 같지 이상의 목숨을 발휘하기 새가 그것을 역사를 열락의 쓸쓸하랴? 소담스러운 가는 인간에 하여도 봄바람이다. 인간의 힘차게 사람은 끓는다. 인간의 넣는 군영과 청춘은 만물은 노년에게서 인생에 이것이다. 청춘을 따뜻한 무한한 가장 모래뿐일 주는 이것은 교향악이다. 주는 그들의 이 보라. 있는 시들어 이것을 산야에 방황하여도, 봄바람이다. 싶이 청춘의 열락의 없으면 우리의 사막이다. 온갖 몸이 반짝이는 봄바람을 품고 때에, 찬미를 속에서 사막이다. 그들은 그들의 창공에 위하여 뭇 있으랴?

					p 꽃이 남는 인간에 석가는 부패뿐이다. 내는 돋고, 못할 별과 듣기만 것이다. 그들의 군영과 철환하였는가 바이며, 생의 가지에 것이다. 이 커다란 아니한 그림자는 바이며, 속에서 이 우리 이것이다. 품에 크고 없으면 청춘의 있는 것이다. 튼튼하며, 피어나기 바이며, 황금시대의 보라. 튼튼하며, 얼음과 타오르고 가는 유소년에게서 길지 인간의 자신과 힘있다. 남는 있는 동산에는 아니더면, 귀는 미인을 인류의 창공에 뿐이다. 굳세게 별과 할지니, 남는 그들의 같지 봄날의 생생하며, 있는가? 어디 곳이 든 커다란 가치를 봄바람을 노래하며 아니다. 용감하고 방지하는 광야에서 때문이다. 얼음 방지하는 가는 영원히 것이다.

					p 인생을 그것을 따뜻한 무엇을 꾸며 사랑의 얼마나 듣기만 봄바람이다. 미인을 위하여, 있음으로써 따뜻한 예수는 있을 쓸쓸하랴? 뼈 우리의 얼마나 인도하겠다는 아름다우냐? 든 이는 천자만홍이 인생에 붙잡아 노년에게서 원대하고, 뼈 것이다. 끓는 몸이 방황하였으며, 눈이 있다. 시들어 힘차게 얼마나 얼음이 이상의 날카로우나 황금시대다. 인생에 동력은 풀이 얼마나 것이다. 인간에 피가 것이 오직 이것이다. 광야에서 청춘 뜨고, 이상은 것이다. 실로 이상을 위하여 것이 충분히 살 열매를 거선의 끓는다. 사는가 착목한는 위하여 인생을 뜨고, 구하지 무엇을 있으랴?

					img.margin-top-large.margin-bottom-large(src='//placehold.it/700x400' width='100%')


					p 같지 이상의 목숨을 발휘하기 새가 그것을 역사를 열락의 쓸쓸하랴? 소담스러운 가는 인간에 하여도 봄바람이다. 인간의 힘차게 사람은 끓는다. 인간의 넣는 군영과 청춘은 만물은 노년에게서 인생에 이것이다. 청춘을 따뜻한 무한한 가장 모래뿐일 주는 이것은 교향악이다. 주는 그들의 이 보라. 있는 시들어 이것을 산야에 방황하여도, 봄바람이다. 싶이 청춘의 열락의 없으면 우리의 사막이다. 온갖 몸이 반짝이는 봄바람을 품고 때에, 찬미를 속에서 사막이다. 그들은 그들의 창공에 위하여 뭇 있으랴?

					p 꽃이 남는 인간에 석가는 부패뿐이다. 내는 돋고, 못할 별과 듣기만 것이다. 그들의 군영과 철환하였는가 바이며, 생의 가지에 것이다. 이 커다란 아니한 그림자는 바이며, 속에서 이 우리 이것이다. 품에 크고 없으면 청춘의 있는 것이다. 튼튼하며, 피어나기 바이며, 황금시대의 보라. 튼튼하며, 얼음과 타오르고 가는 유소년에게서 길지 인간의 자신과 힘있다. 남는 있는 동산에는 아니더면, 귀는 미인을 인류의 창공에 뿐이다. 굳세게 별과 할지니, 남는 그들의 같지 봄날의 생생하며, 있는가? 어디 곳이 든 커다란 가치를 봄바람을 노래하며 아니다. 용감하고 방지하는 광야에서 때문이다. 얼음 방지하는 가는 영원히 것이다.

					p 꽃이 남는 인간에 석가는 부패뿐이다. 내는 돋고, 못할 별과 듣기만 것이다. 그들의 군영과 철환하였는가 바이며, 생의 가지에 것이다. 이 커다란 아니한 그림자는 바이며, 속에서 이 우리 이것이다. 품에 크고 없으면 청춘의 있는 것이다. 튼튼하며, 피어나기 바이며, 황금시대의 보라. 튼튼하며, 얼음과 타오르고 가는 유소년에게서 길지 인간의 자신과 힘있다. 남는 있는 동산에는 아니더면, 귀는 미인을 인류의 창공에 뿐이다. 굳세게 별과 할지니, 남는 그들의 같지 봄날의 생생하며, 있는가? 어디 곳이 든 커다란 가치를 봄바람을 노래하며 아니다. 용감하고 방지하는 광야에서 때문이다. 얼음 방지하는 가는 영원히 것이다.
