doctype html
//
	https://www.gomaun.com/
	  __ _  ___  _ __ ___   __ _ _   _ _ __      
	 / _` |/ _ \| '_ ` _ \ / _` | | | | '_ \     
	| (_| | (_) | | | | | | (_| | |_| | | | |    
	 \__, |\___/|_| |_| |_|\__,_|\__,_|_| |_|    
	 |___/ m a d e  b y  J a y  &  C l i f f 

html
	include ./partials/head

	body
		include ./partials/header



		section#content
			block content

		include ./partials/footer
