extends ./layout

block content
	.jumbotron.text-center.bgBlur
		.jumbotron-photo.jumbotron-hero
			h1(style="font-size: 56px; font-weight:600; color: #ffffff; margin-top: 10%;") 고마운컴퍼니 
			p(style="font-size: 28px; font-weight:600; color: #ffffff;") 고마운기업과 함께합니다.
			a(href='#').ghost-button 크라우드 펀딩 보러가기

	section#about
		.container.margin-bottom-large
			.row
				h1.text-center.margin-top-large About
				p.text-center 고마운컴퍼니를 소개합니다.
				.col-md-4.col-md-offset-2
					.jumbotron
						.jumbotron-photo
							img(src='/public/img/logo_box.png')
				.col-md-5
					#accordion1.panel-group
						.panel
							.panel-heading
								h2(style="font-size: 22px;").panel-title
									a(data-toggle='collapse', data-parent='#accordion1', href='#collapseOne') 
										i.fa.fa-sort-desc
										| 	고마운컴퍼니?
							#collapseOne.panel-collapse.collapse.in
								.panel-body
									blockquote
										p 고마운 기업들의 숨어있는 가치를 이끌어내는 코디네이터
									p 고마운컴퍼니는 고마운기업(소셜벤처, (예비, 인증)사회적기업)들을 위한 소셜벤처입니다.
						.panel
							.panel-heading
								h2(style="font-size: 22px;").panel-title
									a(data-toggle='collapse', data-parent='#accordion1', href='#collapseTwo') 
										i.fa.fa-sort-desc
										|	고마운컴퍼니가 하는 일
							#collapseTwo.panel-collapse.collapse
								.panel-body
									| 고마운 컴퍼니는 고마운기업들과 함께 고마운사람들과 고마운가게 서비스를 운영하면서 그동안 주목받지 못한 보석같은 고마운기업들과 함께 성장하는 것을 목표로 하고 있습니다.
						.panel
							.panel-heading
								h2(style="font-size: 22px;").panel-title
									a(data-toggle='collapse', data-parent='#accordion1', href='#collapseThree')
										i.fa.fa-sort-desc
										|	고마운컴퍼니의 비전
							#collapseThree.panel-collapse.collapse
								.panel-body
									| 


	
	section#services
		.container-fluid.fullWidthSection
			.container
				.row.text-center
					h1.margin-top-large Services
					p 고마운컴퍼니의 서비스를 소개합니다.	
				.row.text-center
					.col-md-6.margin-bottom-large
						i.fa.fa-users.fa-5x
						h3 고마운사람들

						p 고마운기업들의 가치와 상품을 인터뷰 형식으로 발행합니다. 기업과 상품의 홍보와 판매까지 연계할 수 있습니다.
					.col-md-6.margin-bottom-large
						i.fa.fa-shopping-bag.fa-5x
						h3 고마운가게

						p 판로의 한계를 지녔던 상품들을 고마운가게를 통해 판매할 수 있습니다. 목표한 타겟에 도달할 수 있도록 퍼포먼스 마케팅을 지원합니다.
					


	section#works
		.container
			.container
				.row.text-center
					h1.margin-top-large Works
					p 고마운컴퍼니가 걸어온 길
				.row
					.col-md-12
						.timeline
							dl
								dt Oct 2016
								dd.pos-right.clearfix
									.circ
									.time Oct 13
									.events
										a(href='#')
											.pull-left
												img.events-object.img-rounded(src='/public/img/logo_signboard.png' width='64px')
											.events-body
												h4.events-heading 고마운컴퍼니의 시작
												p
													| Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.
								dt Nov 2016
								dd.pos-left.clearfix
									.circ
									.time Nov 00
									.events
										a(href='#')
											.pull-left
												img.events-object.img-rounded(src='/public/img/logo_thumbsup.png' width='64px')
											.events-body
												h4.events-heading 크라우드 펀딩 시작!
												p
													| Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.

			.container.text-center
				.row.margin-top-large
					h1 Clients
					p 고마운컴퍼니와 함께하는 고마운기업들을 소개합니다.
				.row.margin-bottom-large
					.col-sm-3
						img(src='/public/img/footer-logo.png')
					.col-sm-3
						img(src='/public/img/footer-logo.png')
					.col-sm-3
						img(src='/public/img/footer-logo.png')
					.col-sm-3
						img(src='/public/img/footer-logo.png')


	section#news
		.container-fluid.fullWidthSection
			.container
				.row.margin-bottom-large
					h1.text-center.margin-top-large News
					p.text-center 고마운컴퍼니의 소식을 전합니다.
					.col-sm-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')
							.caption.text-center
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
								p
									a.btn.btn-warning(href='#', role='button') Button
					.col-sm-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')
							.caption.text-center
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
								p
									a.btn.btn-warning(href='#', role='button') Button
					.col-sm-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')
							.caption.text-center
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
								p
									a.btn.btn-warning(href='#', role='button') Button
					.col-sm-6.col-md-3
						.thumbnail
							img.img-rounded(src='/public/img/hero1.jpg')
							.caption.text-center
								h3 Thumbnail label
								p
									| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
								p
									a.btn.btn-warning(href='#', role='button') Button
