extends ./layout

block content
	.jumbotron.text-center.bgBlur
		.jumbotron-photo.jumbotron-hero
			h1(style="font-size: 56px; font-weight:600; color: #ffffff; margin-top: 10%;") 고마운컴퍼니 
			p(style="font-size: 28px; font-weight:600; color: #ffffff;") 고마운기업과 함께합니다.
			a(href='#about').ghost-button 자세히 보기 

	section#about
		.container.margin-bottom-large
			.row
				h1.text-center.margin-top-large About
				p.text-center 고마운컴퍼니를 소개합니다.
				.col-md-4.col-md-offset-2
					.jumbotron
						.jumbotron-photo
							img(src='/public/img/logo_box.png')
				.col-md-4
					#accordion1.panel-group
						.panel
							.panel-heading
								h2(style="font-size: 22px;").panel-title
									a(data-toggle='collapse', data-parent='#accordion1', href='#collapseOne') 
										i.fa.fa-sort-desc
										| 	고마운컴퍼니?
							#collapseOne.panel-collapse.collapse.in
								.panel-body
									blockquote
										p 고마운 기업들의 숨어있는 가치를 이끌어내는 코디네이터
									p 고마운컴퍼니는 고마운기업(소셜벤처, (예비, 인증)사회적기업)들을 위한 소셜벤처입니다.
						.panel
							.panel-heading
								h2(style="font-size: 22px;").panel-title
									a(data-toggle='collapse', data-parent='#accordion1', href='#collapseTwo') 
										i.fa.fa-sort-desc
										|	고마운컴퍼니가 하는 일
							#collapseTwo.panel-collapse.collapse
								.panel-body
									| 고마운 컴퍼니는 고마운기업들과 함께 고마운사람들과 고마운가게 서비스를 운영하면서 그동안 주목받지 못한 보석같은 고마운기업들과 함께 성장하는 것을 목표로 하고 있습니다.
						.panel
							.panel-heading
								h2(style="font-size: 22px;").panel-title
									a(data-toggle='collapse', data-parent='#accordion1', href='#collapseThree')
										i.fa.fa-sort-desc
										|	고마운컴퍼니의 비전
							#collapseThree.panel-collapse.collapse
								.panel-body
									| 고마운기업이 고마운컴퍼니를 통해 소비자에게 잘 전달될 수 있도록 노력하며, 고마운컴퍼니는 고마운기업이 즐거운 기업활동을 할 수 있도록 함과 동시에 소비자에게 더욱 좋은 제품을 소개하고 판매할 수 있도록 도울 것입니다.


	
	section#services
		.container-fluid.fullWidthSection
			.container
				.row.text-center
					h1.margin-top-large Services
					p 고마운컴퍼니의 서비스를 소개합니다.	
				.row.text-center
					.col-md-4.col-md-offset-2.margin-bottom-large
						i.fa.fa-users.fa-5x
						h3 고마운사람들

						p 고마운기업들의 가치와 상품을 인터뷰 형식으로 발행합니다. 컨텐츠 발행을 통해 기업과 상품의 홍보와 판매까지 연계하여 고마운기업이 세상에 알려지고, 수익을 얻을 수 있도록 도와드립니다.
					.col-md-4.margin-bottom-large
						i.fa.fa-shopping-bag.fa-5x
						h3 고마운가게

						p 판로의 한계를 지녔던 상품들을 고마운가게를 통해 판매할 수 있습니다. 상품 판매 이후 목표한 타겟에 도달할 수 있도록 퍼포먼스 마케팅을 지원합니다. 퍼포먼스 마케팅을 통해 기업이 더욱 성장할 수 있도록 도와드립니다.
					


	section#works
		.container
			.container
				.row.text-center
					h1.margin-top-large Works
					p 고마운컴퍼니는 이렇게 일하고 있습니다.
				.row
					.col-md-12
						.timeline
							dl
								dt Oct 2016
								dd.pos-right.clearfix
									.circ
									.time Oct 13
									.events
										a(href='#')
											.pull-left
												img.events-object.img-rounded(src='/public/img/logo_signboard.png' width='64px')
											.events-body
												h4.events-heading 고마운컴퍼니의 시작
												p
													| 아주 작은 생각에서 출발한 고마운컴퍼니는 첫 발을 내딛었습니다. 생각에 그치지 않고 실제 행동에 옮겨 고마운컴퍼니가 고마운사람들과 함께 할 수 있는 플랫폼을 만들기 위해 노력하고 있습니다.
								
								//
									dt Nov 2016
									dd.pos-left.clearfix
										.circ
										.time Nov 01
										.events
											a(href='#')
												.pull-left
													img.events-object.img-rounded(src='/public/img/logo_signboard.png' width='64px')
												.events-body
													h4.events-heading 크라우드 펀딩
													p
														| 아주 작은 생각에서 출발한 고마운컴퍼니는 첫 발을 내딛었습니다. 생각에 그치지 않고 실제 행동에 옮겨 고마운컴퍼니가 고마운사람들과 함께 할 수 있는 플랫폼을 만들기 위해 노력하고 있습니다.
			.container.text-center
				.row.margin-top-large
					h1 Clients
					p 고마운컴퍼니와 함께하는 고마운기업들을 소개합니다.
				.row.margin-bottom-large
					.col-xs-12
						h1 고마운컴퍼니는 여러분을 기다리고 있습니다.

	//
		section#news
			.container-fluid.fullWidthSection
				.container
					.row.margin-bottom-large
						h1.text-center.margin-top-large News
						p.text-center 고마운컴퍼니의 소식을 전합니다.
						.col-sm-6.col-md-3
							.thumbnail
								img.img-rounded(src='/public/img/hero1.jpg')
								.caption.text-center
									h3 Thumbnail label
									p
										| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
									p
										a.btn.btn-warning(href='#', role='button') Button
						.col-sm-6.col-md-3
							.thumbnail
								img.img-rounded(src='/public/img/hero1.jpg')
								.caption.text-center
									h3 Thumbnail label
									p
										| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
									p
										a.btn.btn-warning(href='#', role='button') Button
						.col-sm-6.col-md-3
							.thumbnail
								img.img-rounded(src='/public/img/hero1.jpg')
								.caption.text-center
									h3 Thumbnail label
									p
										| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
									p
										a.btn.btn-warning(href='#', role='button') Button
						.col-sm-6.col-md-3
							.thumbnail
								img.img-rounded(src='/public/img/hero1.jpg')
								.caption.text-center
									h3 Thumbnail label
									p
										| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...
									p
										a.btn.btn-warning(href='#', role='button') Button
