/*
 * teaser page options
 */

/*
 * jumbotron teaser hero
*/

.jumbotron-hero {
	position: relative; 
	overflow: hidden; 
	width: 100%; 
	height: 100vh; 
	background: linear-gradient(rgba(57,100,195,.0), rgba(57,100,195,.0)), url('//d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/6U6EAPKKD7.jpg'); 
	background-size: cover; 
	background-position: 50% 30%;
}

.jumbotron-center {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
}

.jumbotron-hero-semi {
  position: relative; 
  overflow: hidden; 
  width: 100%; 
  height: 25vh; 
  background: linear-gradient(rgba(165,162,13,.4), rgba(165,162,13,.4)), url('/public/img/hero.jpg'); 
  background-size: cover; 
  background-position: 45% 50%;
}

.bgBlur:before {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  z-index:-1;
  filter: blur(6px); 
  -webkit-filter: blur(6px); 
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  filter:url(#blur);
}

/*
 * margin option
*/

.margin-top-large {
	margin-top: 80px ;
}

.margin-bottom-large {
	margin-bottom: 60px ;
}

/*
 * customize heading color
*/

.heading-color {
	color: #22252a;
}

/*
 * section fullwidth
 */

.fullWidthSection {
	width:100%;
	background: rgb(255, 253, 154);
}

/*
 * ghost button with semi transparent fade
 */

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
  color: #434a54;
}

/*
 * ghost button with transition
 */

.ghost-button-transition {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

/*
 * sticky headers
 */

.followMeBar {
  background: #999;
  padding: 10px 20px;
  position: relative;
  z-index: 2;
  color: #fff;
}

.followMeBar.fixed {
  position: fixed;
  top: 50px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.followMeBar.fixed.absolute {
  position: absolute;
}

.followZindex{
  z-index: 0;
}

.blockquote-reverse {
  border-right: 3px solid #ccd1d9;
}

.footer-address {
  color: #aab2bd;
}